<%= form_with model: [commentable, comment] do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit Comment.human_attribute_name(:submit) %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:user) %></th>
      <th><%= Comment.human_attribute_name(:comment) %></th>
      <th><%= Comment.human_attribute_name(:time) %></th>
    </tr>
  </thead>
  <tbody>
    <% if comments.present? %>
      <% comments.each do |comment| %>
        <tr>
          <td><%= comment.user.name.empty? ? comment.user.email : comment.user.name %></td>
          <td><%= comment.comment %></td>
          <td><%= comment.user.created_at %></td>
          <td><%= link_to Comment.human_attribute_name(:delete), book_comment_path(comment), method: :delete if current_user == comment.user %></td>
        </tr>
      <% end %>
    <% else %>
      <p><%= Comment.human_attribute_name(:nothing) %></p>
    <% end %>
  </tbody>
</table>
