<%# ここのmodel:は@commentのほうがいい？ %>
<%= form_with model: [commentable, comment] do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit 'コメントを投稿' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <%# empty?メソッドではエラーが出るので注意 %>
    <% if comments.present? %>
      <%= 'コメントがありません' %>
    <% else %>
      <% comments.each do |comment| %>
        <tr>
          <td><%= comment.user.name %></td>
          <td><%= comment.comment %></td>
          <td><%= link_to "コメントを削除", report_comment_path(comment), method: :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
