<%# ここのmodel:は@commentのほうがいい？ %>
<%= form_with model: [commentable, comment] do |f| %>
  <%= f.text_area :comment, placeholder: 'コメントする' %>
  <%= f.submit 'コメントを投稿' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name if comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "コメントを削除", report_comment_path(comment), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
