<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1><%= @user.username %>のユーザーページ</h1>

<p>名前 : <%= @user.username %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>郵便番号 : <%= @user.postcode %></p>
<p>住所 : <%= @user.address %></p>
<p>プロフィール : <%= @user.profile %></p>
